<.header>
  Edit Book <%= @book.id %>
  <:subtitle>Use this form to manage book records in your database.</:subtitle>
</.header>

<.book_form changeset={@changeset} action={~p"/books/#{@book}"} authors={@authors} />

<a href="/books">Back to books</a>