<.header>
  New Author
  <:subtitle>Use this form to manage author records in your database.</:subtitle>
</.header>

<.author_form changeset={@changeset} action={~p"/authors"} />

<a href="/authors">Back to authors</a>