<.header>
  New Review
  <:subtitle>Use this form to manage review records in your database.</:subtitle>
</.header>

<.review_form changeset={@changeset} action={~p"/reviews"} books={@books} />

<a href="/reviews">Back to reviews</a>