<.header>
  New Sales
  <:subtitle>Use this form to manage sales records in your database.</:subtitle>
</.header>

<.sales_form changeset={@changeset} action={~p"/sales"} books={@books} />

<a href="/sales">Back to sales</a>